<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Allergen Detection System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/css/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/css/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

  <div class="modal fade" id="productSafe" tabindex="-1" role="dialog" aria-labelledby="productSafeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="productSafeModalLongTitle">Pop up</h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_bx4oomul.json"  background="transparent"  speed="1.25" loop autoplay class="lottie"></lottie-player>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="okay-class">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productNotSafe" tabindex="-1" role="dialog" aria-labelledby="productNotSafeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="productNotSafeModalLongTitle">Pop up</h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_sfktyrws.json"  background="transparent"  speed="1" loop autoplay class="lottie"></lottie-player>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="okay-class">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="productStatusModalUnsuccesfull" tabindex="-1" role="dialog" aria-labelledby="productStatusModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="productStatusModalLongTitle">Pop up</h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_3tA7zGNLpf.json"  background="transparent"  speed="1.25" loop autoplay class="lottie"></lottie-player>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="okay-class">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="loadingModalLongTitle">Pop up</h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets4.lottiefiles.com/temp/lf20_Th7CEA.json"   background="transparent"  speed="1" class="lottie" loop autoplay></lottie-player>
        </div>
      </div>
    </div>
  </div>

  
  <div class="modal fade" id="Error404" tabindex="-1" role="dialog" aria-labelledby="productStatusModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="productStatusModalLongTitle">Pop up</h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_n5q8wfa8.json"  background="transparent"  speed="1" loop autoplay class="lottie"></lottie-player>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="okay-class" onclick="location.reload();">Okay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center;">
          <h5 class="modal-title" id="logoutModalLongTitle">Do you really want to logout? </h5>
        </div>
        <div class="modal-body" style="display: flex; justify-content: center;">
          <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_qp7ggaby.json"   background="transparent"  speed="1" loop autoplay class="lottie"></lottie-player>
        </div>
        <div class="modal-footer" style="justify-content: space-around !important;">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #3860b5 !important; color: white;">Cancel</button>
          <button type="button" class="btn btn-danger"><a href="{{ url_for('index') }}" style="color: white;"> Yes, Continue </a></button>
        </div>
      </div>
    </div>
  </div>

    {% block content %}

    {% endblock %}
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/css/vendor/aos/aos.js"></script>
  <script src="/static/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/css/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/css/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/90bd0ee8ed.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script src="/static/js/app.js"></script>

</body>

</html>