{% extends "base.html" %}

{% block content %}
<!-- Camera -->
<main id="camera">
    <!-- Camera sensor -->
    <canvas id="camera--sensor"></canvas>
    <!-- Camera view -->
    <video id="camera--view" autoplay playsinline></video>
    <!-- Camera output -->
    <img src="//:0" alt="" id="camera--output" style="display: none;">
    <div class="row align-items-center" id="clickPhoto" style="position: inherit;bottom: 4%;width: 100%;margin: 0 !important;text-align: center;">
        <div class="col-12">
            <!-- Camera trigger -->
            <button class ="camera-trigger btn btn-dark" id="camera--trigger">Take a picture</button>
        </div>
    </div> 

    <div class="row align-items-center" id="clickPhotoConfirm" style="display: none;position: inherit;bottom: 4%;width: 100%;margin: 0 !important;text-align: center;">
        <div class="col-6">
            <!-- Camera trigger -->
            <button class ="camera-trigger btn btn-success" id="confirm-button">Confirm</button>
        </div>
        <div class="col-6">
            <!-- Camera trigger -->
            <button class ="camera-trigger btn btn-danger" id="cancel-button">Cancel</button>
        </div>
    </div>
</main>
<!-- Reference to your JavaScript file -->
<script src="https://docs.opencv.org/master/opencv.js"></script>

{% endblock %}