{% extends "base.html" %}

{% block content %}


<script>
    window.onload = () => {
        var user = {{ user | tojson }};

        //gender population
        gender = document.getElementById("gender");
        genderOption = gender.querySelector(`option[value='${user.gender}']`);
        genderOption.selected=true;

        allergenCategory = user.allergenCategory;
        checkboxes = $("input[name='allergens']")
        for (var checkbox of checkboxes) {
            if (allergenCategory.includes(checkbox.value))
                checkbox.checked=true;
        }

        $("#allergenList").val(user.allergenCategoryList);
        $("#otherAllergen").val(user.otherAllergenList);

        var allergenDict = 
        {
            "Gluten": ["rice", "quinoa", "oats", "corn", "potatoes", "fruits", "vegetables", "nuts", "seeds", "legumes"],
            "Dairy": ["almond", "soy", "coconut", "oat milk", "cheese", "yogurt", "ice cream", "butter", "cream", "dried milk", "milk solids", "powered milk", "whey"],
            "Nut": ["pumpkin", "sunflower", "sesame seeds", "snack mixes", "dried fruits", "raisins", "date", "prunes", "figs", "apricots", "peaches"],
            "Soy": ["almond milk", "coconut milk", "oat milk"],
            "Meat Based": ["egg", "fish", "red meat", "chicken", "mutton"],
            "Fruit Based": ["Apple", "Avocado", "Banana", "Cherry", "Kiwi", "Mango", "Melon", "Nectarine", "Peach", "Pear", "Pineapple", "strawberry", "Plum", "Tomato", "Jackfruit"],
            "Cruciferous": ["Broccoli", "cauliflower", "cabbage", "kale", "collard greens", "kohlrabi"]
        }

        $("input[name='allergens']").on("change", () => {
            console.log("checkboxes clicked");
            var allergenList = [];
            for (var checkbox of checkboxes) {
                if ((checkbox.checked == true)) {
                    allergenList += allergenDict[checkbox.value];
                }
            }
            $("#allergenList").val(allergenList);

        });

    }

</script>

<style>
    .main-body{
        margin-top: 30px;
    }
    body{
    background: #f7f7ff;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .me-2 {
        margin-right: .5rem!important;
    }
</style>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="{{ url_for('index') }}"><img src="/static/img/logo.png" alt="" class="img-fluid"></a>

        </div>
        <div class="logo-text">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 style="text-align: center;"><a href="{{ url_for('index') }}" style="font-size: 20px;"><span>Allergen Detection</span> <br>System</a></h1>

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="{{ url_for('profile') }}">Profile</a></li>
                <a href="{{ url_for('logout') }}" class = "logout" style="color: white;">Logout</a>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<div class="container" style="margin-top: 100px;">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/static/img/avatar.png" alt="Admin" class="rounded-circle p-1 border" width="110">
                        </div>
                        <hr class="my-4">
                        <h5 class="d-flex justify-content-between align-items-center" style="justify-content: center !important;">Details of Each Allergy Category</h5>
                        <hr class="my-4">
                        <div class="table-responsive">
                            <table class="table table-striped text-center">
                                <thead>
                                  <tr>
                                    <th scope="col">Allergen Type</th>
                                    <th scope="col">Possible Ingredients</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Gluten</td>
                                    <td>Wheat, Barley, Rye</td>
                                  </tr>
                                  <tr>
                                    <td>Dairy</td>
                                    <td>Milk, Cheese, Yoghurt</td>
                                  </tr>
                                  <tr>
                                    <td>Nut</td>
                                    <td>Almonds, Peanuts, Walnuts</td>
                                  </tr>
                                  <tr>
                                    <td>Meat-Based</td>
                                    <td>Fish, Chicken, Eggs, Mutton</td>
                                  </tr>
                                  <tr>
                                    <td>Fruit-Based</td>
                                    <td>Pineapple, Lemons, Plums</td>
                                  </tr>
                                  <tr style="border-bottom: hidden;">
                                    <td>Cruciferous</td>
                                    <td>Broccoli, Spinach, Celery</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        <!-- <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Gluten</h6>
                                <span class="text-secondary">Wheat, Barley, Rye</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Dairy</h6>
                                <span class="text-secondary">Milk, Cheese, Yoghurt</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Nut</h6>
                                <span class="text-secondary">Almonds, Peanuts, Walnuts</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Soy</h6>
                                <span class="text-secondary">Tofu, Soy Milk, Soy Sauce</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Meat-Based</h6>
                                <span class="text-secondary">Fish, Chicken, Eggs, Mutton</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Fruit-Based</h6>
                                <span class="text-secondary">Pineapple, Lemons, Plums</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Cruciferous</h6>
                                <span class="text-secondary">Broccoli, Spinach, Celery</span>
                            </li>
                        </ul> -->
                        <hr style="margin-top: 0px;">
                        <div class="row">
                            <div class="col-sm-12 text-secondary" style="text-align: center;">
                                <a href="{{ url_for('logout') }}" class="btn btn-dark px-4">Log Out</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <form action="{{ url_for('update_profile') }}" method="POST">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.fullName }}" name="fullname" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="email" class="form-control" value="{{ user.email }}" name="email" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-sm-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{ user.mobile }}" name="mobileNo" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Gender</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select class="form-control" id="gender" name="gender">
                                        <option value="">-- Select an option --</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Prefer not to say</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Age</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="number" class="form-control" value="{{ user.age }}" min = 0 name="age">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Allergen Category</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Gluten" id="checkbox1">
                                                <label class="form-check-label" for="checkbox1">
                                                    Gluten
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Dairy" id="checkbox2">
                                                <label class="form-check-label" for="checkbox2">
                                                    Dairy
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Nut" id="checkbox3">
                                                <label class="form-check-label" for="checkbox3">
                                                    Nut
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Soy" id="checkbox4">
                                                <label class="form-check-label" for="checkbox4">
                                                    Soy
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Meat Based" id="checkbox5">
                                                <label class="form-check-label" for="checkbox5">
                                                    Meat Based
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Fruit Based" id="checkbox6">
                                                <label class="form-check-label" for="checkbox6">
                                                    Fruit Based
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allergens" value="Cruciferous" id="checkbox4">
                                                <label class="form-check-label" for="checkbox4">
                                                    Cruciferous
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Allergen List</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <textarea id="allergenList" class="form-control" name="allergenList" rows="3" readonly></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3 align-self-center">
                                    <h6 class="mb-sm-0">Other Allergens</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" id="otherAllergen" class="form-control" name="otherAllergen">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary" style="text-align: center;">
                                    <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}